asgiref==3.5.0
async-timeout==4.0.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==41.0.2
Deprecated==1.2.13
Django==4.0.4
idna==3.3
importlib-metadata==4.11.3
jmespath==1.0.0
ldap3==2.9.1
Markdown==3.3.6
multi-key-dict==2.0.3
mysqlclient==2.1.0
packaging==21.3
pbr==5.9.0
pyasn1==0.4.8
pycparser==2.21
PyMySQL==1.0.2
pyparsing==3.0.8
pypinyin==0.46.0
pytz==2022.1
redis==4.2.2
requests==2.27.1
rsa==4.8
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
wrapt==1.14.0
zipp==3.8.0
